.Top_bar{
    /*background-image: url("C:/Users/pcs/Desktop/HTML Tutorial/Folder 1/Party/Portfolio/Party/Landingpage/Top Background.jpg");
    /*background-color:#39a0ca;*/
   /* background-size:cover;
    background-position-x: center;
    background-position-y:50%;
    background-repeat: no-repeat;
    border-radius: 5px;
    
   /*#c89666;*/
   color: white;

}
.logo{
    height: 80px;
}
.writing{
    padding-top: 2%;
    color:#000000;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bold;
    padding-left: 2%;
}
.icon{
    height:50px;
}
.Follow{
    padding-top: 1%;
    padding-bottom: 2%;
    color:black ;
    padding-left: 48%;

}
.Mid_sec{
    background-image:url("Background.jpg");
    background-size: cover;
    height: 400px;
}
.Writing_Cmg{
    font-size: 200%;
    padding-left: 50%;
    padding-top: 2%;
    color:#f5f5f5 ;
}
.Writing_Lux{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:bolder;
    padding-left: 50%;
    padding-top: 1%;
    color: whitesmoke;
}
.writing_tag{ 
    padding-left: 50%;
    padding-top: 1%;
    color: #393939 ;
}
.Reg{
    padding-left: 50%;
    padding-top: 1%;
}
.button{
    background-color:#FF5A09;
    color: white;
    border-radius: 10px;
}
.Mail{
    color: #fff;
}
.Email{
    border: 2px solid gray;
    border-radius: 10px;
    color: cornsilk;
}
.footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
}